@font-face {
src: url(fonts/GENUINE.ttf);
font-family: Genuine;
}
@font-face {
  src: url(fonts/Bangers-Regular.ttf);
  font-family: BangersR;
}

@font-face {
  src: url(fonts/Eczar-Bold.ttf);
  font-family: EczarB;
}

@font-face {
  src: url(fonts/Eczar-Regular.ttf);
  font-family: EczarR;
}

@font-face {
src: url(fonts/Rebik-Bold.ttf);
font-family: RubikB;
  }

@font-face {
  src: url(fonts/Rubik-Light.ttf);
  font-family: RubikL;
}

@font-face {
  src: url(fonts/Rubik-Regular.ttf);
  font-family: RubikR;
}

@font-face {
  src: url(fonts/Eczar-SemiBold.ttf);
  font-family: EczarSB;

}
@font-face {
  src: url(fonts/Roboto-Bold.ttf);
  font-family: RobotoB;

}
@font-face {
  src: url(fonts/Roboto-BoldItalic.ttf);
  font-family: RobotoBI;

}
@font-face {
  src: url(fonts/Boogaloo-Regular.ttf);
  font-family: BoogalooR;

}



.navbar{
  min-height: 80px;

}

.outer-div{
  height: 580px;
  width:100%;
    background-image: linear-gradient(to right, #24C6DC , #514A9D);

}

.outer-div .inner-div{
  height: 350px;
  width : 70%;
  /* background-color: white; */
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;

}

.inner-div{
  padding-top:150px;
  font-family: Genuine;
}

.Genuine{
  font-family: Genuine;
}

.BangersR{
 font-family: BangersR;
}

.EczarB{
 font-family: EczarB;
}

.RubikL{
  font-family: RubikL;
}

.RubikB{
  font-family: RubikB;
}

.EczarR{
  font-family: EczarR;
}

.RobotoB{
  font-family: RobotoB;
}






.FieldInfo{
    color: #cfcfcf;
    font-family: RubikL;
    font-size: 1.2em;
  }
.CommentBlock{
  background-color:#F6F7F9;
}

.navbar{
  min-height: 80px;

}
